# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Virtual environment
virt/*

# Secret key
secret_key.txt

# Python cache directories
__pycache__/